.page-main {
  margin-top: 0;
}

.page-main__wrapper {
  background-color: $dark-bg;
  background-image: url("../img/bike-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding-top: 314px;
  padding-bottom: 238px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bike-desktop@2x.jpg");
  }

  @media (max-width: $tablet-width) {
    background-image: none;
    background-color: transparent;
    display: block;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.banner {
  width: 393px;
  padding-top: 4px;

  @media (max-width: $tablet-width) {
    width: 100%;
    background-color: $dark-bg;
    background-image: url("../img/bike-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    box-sizing: border-box;
    padding-left: 21px;
    padding-right: 21px;
    padding-top: 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bike-tablet@2x.jpg");
    }
  }

  @media (max-width: $mobile-width) {
    background-image: url("../img/bike-mobile@1x.jpg");
    background-size: cover;
    padding-left: 16px;
    padding-right: 16px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bike-mobile@2x.jpg");
    }
  }
}

.banner__logo {
  width: fit-content;
  cursor: pointer;
  padding-left: 0;
  margin-top: 0;
  margin-left: 0;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (max-width: $tablet-width) {
    padding-top: 25px;
  }
}

.banner__wrapper h2 {
  color: $white;
  font-weight: 700;
  font-size: 46px;
  line-height: 64px;
  padding-left: 0;
  margin-top: 27px;
  margin-bottom: 0;
  margin-left: 0;

  @media (max-width: $tablet-width) {
    font-size: 30px;
    line-height: 42px;
    text-align: center;
    margin-top: 86px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 72px;
  }
}

.banner__wrapper p {
  color: $white;
  opacity: 0.8;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: -0.005em;
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 0;

  @media (max-width: $tablet-width) {
    font-size: 18px;
    text-align: center;
    width: 435px;
    padding-bottom: 80px;
    margin-top: 19px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    padding-bottom: 70px;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }
}
