.contacts {
  margin-top: 248px;
  text-align: center;

  @media (max-width: $tablet-width) {
    margin-top: 155px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 119px;
  }
}

.contacts h2 {
  font-weight: 600;
  font-size: 30px;
  color: $black1;
  margin: 0;
  padding: 0;

  @media (max-width: $tablet-width) {
    font-size: 24px;
  }

  @media (max-width: $mobile-width) {
    font-size: 18px;
  }
}

.contacts p {
  font-size: 17px;
  font-weight: 400;
  color: $black;
  opacity: 0.7;
  margin-top: 30px;
  margin-bottom: 0;
  padding: 0;
  width: 555px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;

  @media (max-width: $tablet-width) {
    margin-top: 20px;
    padding-left: 35px;
    padding-right: 35px;
    width: 100%;
  }

  @media (max-width: $mobile-width) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.contacts br {
  display: none;

  @media (max-width: $mobile-width) {
    display: inline;
  }
}

.contacts img {
  margin-top: 42px;
  width: 957px;
  height: 530px;
  background-color: $grey-blue;
  box-sizing: border-box;

  @media (max-width: $tablet-width) {
    margin-top: 20px;
    width: 90.9%;
    height: auto;
    margin-left: 35px;
    margin-right: 35px;
  }

  @media (max-width: $mobile-width) {
    margin: 0;
    margin-top: 25px;
    width: 100%;
  }
}
