.page-footer {
  margin-top: 39px;
  padding-bottom: 98px;
  text-align: center;

  @media (max-width: $tablet-width) {
    margin-top: 20px;
    padding-bottom: 55px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 31px;
    padding-bottom: 50px;
  }
}

.page-footer__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1440px;

  @media (max-width: $mobile-width) {
    flex-direction: column;
  }
}

.page-footer__item {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }

  @media (max-width: $mobile-width) {
    margin-left: auto;
    margin-right: auto;
  }
}

.page-footer__item:not(:first-child) {
  margin-left: 127px;

  @media (max-width: $mobile-width) {
    margin-top: 22px;
    margin-left: auto;
  }
}

.page-footer__item a {
  color: $black;
  opacity: 0.5;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.4;
  }
}

.mail {
  @media (max-width: $mobile-width) {
    padding-left: 22px;
  }

  &::before {
    background-image: url(../img/icon-mail.svg);
    width: 26px;
    height: 20px;
    top: 5px;
    left: -35px;

    @media (max-width: $mobile-width) {
      left: -20px;
    }
  }
}

.phone {
  @media (max-width: $mobile-width) {
    padding-left: 25px;
  }

  &::before {
    background-image: url(../img/icon-phone.svg);
    width: 22px;
    height: 24px;
    top: 0;
    left: -30px;

    @media (max-width: $mobile-width) {
      left: -5px;
    }
  }
}
