.map {
  text-align: center;
  margin-top: 248px;

  @media (max-width: $tablet-width) {
    margin-top: 155px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 119px;
  }
}

.map h2 {
  color: $black1;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.005em;
  padding: 0;
  margin: 0;

  @media (max-width: $tablet-width) {
    font-size: 24px;
  }

  @media (max-width: $mobile-width) {
    font-size: 18px;
  }
}

.map p {
  color: $black;
  font-size: 17px;
  font-weight: 400;
  line-height: 31px;
  opacity: 0.7;
  box-sizing: border-box;
  width: 555px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 0;

  @media (max-width: $tablet-width) {
    width: 100%;
    padding-left: 35px;
    padding-right: 35px;
    margin-top: 20px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.map br {
  display: none;

  @media (max-width: $mobile-width) {
    display: inline;
  }
}

.map__wrapper {
  position: relative;
  width: 957px;
  height: 530px;
  background-color: $grey-blue;
  background-image: url("../img/map-desktop@1x.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  margin-top: 42px;
  margin-left: auto;
  margin-right: auto;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/map-desktop@2x.png");
  }

  @media (max-width: $tablet-width) {
    width: 90.9%;
    height: 545px;
    background-image: url("../img/map-tablet@1x.png");
    margin-top: 20px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-tablet@2x.png");
    }
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    height: 250px;
    background-image: url("../img/map-mobile@1x.png");
    margin: 0;
    margin-top: 19px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-mobile@2x.png");
    }
  }
}

.map__wrapper iframe {
  width: 100%;
  height: 100%;
}
