.page-header {
  color: $white;
  position: absolute;
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: -0.01em;
  background: transparent;
  width: 100%;
  top: 0;
  left: -2px;
  margin: auto;

  @media (max-width: $tablet-width) {
    color: $dark-grey;
    position: static;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    left: 0;
    margin-right: 0;
  }
}

.main-nav__toggle {
  display: none;

  @media (max-width: $tablet-width) {
    position: absolute;
    display: block;
    border: none;
    background-color: $blue;
    background-repeat: no-repeat;
    cursor: pointer;
    top: 0;
    right: 0;
    z-index: 3;
  }
}

.main-nav--closed .main-nav__toggle {
  background-image: url("../img/icon-menu.svg");
  background-position: center;
  background-size: 30px 30px;
  width: 50px;
  height: 50px;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.4;
  }
}

.main-nav--opened .main-nav__toggle {
  background-image: url("../img/icon-cross.svg");
  background-size: 100%;
  background-position: center;
  background-color: $white;
  opacity: 0.2;
  width: 50px;
  height: 52px;
  padding: 0;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.4;
  }
}

.main-nav__wrapper {
  width: 873px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;

  @media (max-width: $tablet-width) {
    position: absolute;
    width: 50%;
    min-height: 568px;
    background-color: $white;
    border-bottom: none;
    z-index: 2;
    top: 0;
    right: 0;
    margin-left: auto;
    margin-right: 0;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

.main-nav__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  height: 100%;
  margin: 0;
  padding: 0;

  @media (max-width: $tablet-width) {
    flex-direction: column;
    margin-top: 71px;
  }
}

.main-nav__item {
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 9px;
  padding-left: 20px;
  margin-top: 0;

  @media (max-width: $tablet-width) {
    background-color: $grey-bg;
    padding-top: 15px;
    padding-right: 35px;
    padding-bottom: 15px;
    padding-left: 16px;
    margin-top: 30px;
  }
}

.main-nav__item a {
  color: $white;
  opacity: 0.5;
  position: relative;

  @media (max-width: $tablet-width) {
    color: $dark-grey;
    opacity: 1;
  }

  &:hover,
  &:focus {
    color: $blue;
    opacity: 1;
  }

  &:active {
    opacity: 0.5;
  }

  &::after {
    display: none;

    @media (max-width: $tablet-width) {
      display: block;
      content: "";
      position: absolute;
      height: 8px;
      width: 8px;
      background-color: transparent;
      border-bottom: 2px solid $grey;
      border-right: 2px solid $grey;
      transform: rotate(-45deg);
      right: -9px;
      top: 8px;
    }
  }
}

@media (max-width: $tablet-width) {
  .main-nav--closed .main-nav__wrapper {
    display: none;
  }
}

.main-nav--nojs .main-nav__wrapper {
  position: static;
  display: block;
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.fixed {
  overflow-y: hidden;
}
