.page-main {
  margin-top: 0;
}

.page-main__wrapper {
  background-color: $dark-bg;
  background-image: url("../img/bike-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 318px;
  padding-bottom: 240px;
  width: 100%;

  @media (max-width: $tablet-width) {
    background-image: none;
    background-color: transparent;
    display: block;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.page-title {
  padding-top: 0;
  width: 393px;

  @media (max-width: $tablet-width) {
    width: 100%;
    padding-left: 21px;
    padding-right: 21px;
    background-color: $dark-bg;
    background-image: url("../img/bike-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    box-sizing: border-box;
  }

  @media (max-width: $mobile-width) {
    background-image: url("../img/bike-mobile@1x.jpg");
    background-size: cover;
  }
}

.page-title__logo {
  margin-top: 0;
  margin-left: 0;
  padding-left: 0;

  @media (max-width: $tablet-width) {
    padding-top: 25px;
  }
}

.page-title__wrapper h2 {
  margin-top: 30px;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 46px;
  line-height: 64px;
  color: $white;
  margin-left: 0;
  padding-left: 0;

  @media (max-width: $tablet-width) {
    font-size: 30px;
    text-align: center;
    margin-top: 88px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 75px;
  }
}

.page-title__wrapper p {
  margin-top: 24px;
  margin-bottom: 0;
  font-weight: 300;
  font-size: 20px;
  color: $white;
  opacity: 0.8;

  @media (max-width: $tablet-width) {
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 80px;
  }

  @media (max-width: $mobile-width) {
    padding-bottom: 70px;
  }
}
