.page-header {
  margin-top: 11px;
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 300;
  font-size: 16px;
  color: $white;
  background: transparent;
  margin: auto;
  width: 100%;

  @media (max-width: $tablet-width) {
    margin-right: 0;
    position: static;
    font-weight: 400;
    font-size: 20px;
    color: $dark-grey;
  }
}

.main-nav__toggle {
  display: none;

  @media (max-width: $tablet-width) {
  position: absolute;
  display: block;
  border: none;
  background-color: $blue;
  background-repeat: no-repeat;
  top: 0;
  right: 0;
  cursor: pointer;
  z-index: 3;
  }
}

.main-nav--closed .main-nav__toggle {
  background-image: url("../img/icon-menu.svg");
  background-position: center;
  background-size: 30px 30px;
  width: 50px;
  height: 50px;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.4;
  }
}

.main-nav--opened .main-nav__toggle {
  background-image: url("../img/icon-cross.svg");
  background-size: 100%;
  background-position: center;
  padding: 0;
  width: 50px;
  height: 52px;
  background-color: $white;
  opacity: 0.2;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.4;
  }
}

.main-nav__wrapper {
  margin-top: 0;
  width: 873px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  @media (max-width: $tablet-width) {
    margin-left: auto;
    margin-right: 0;
    position: absolute;
    width: 50%;
    min-height: 568px;
    top: 0;
    right: 0;
    background-color: $white;
    border-bottom: none;
    z-index: 2;
  }

  @media (max-width: $mobile-width) {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}

.main-nav--nojs .main-nav__wrapper {
  position: static;
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  height: 100%;
  margin-top: 0;

  @media (max-width: $tablet-width) {
    flex-direction: column;
    margin-top: 100px;
  }
}

.main-nav__item {
  margin-top: 0;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 9px;
  padding-left: 20px;

  @media (max-width: $tablet-width) {
    background-color: $grey-bg;
    padding-top: 17px;
    padding-right: 35px;
    padding-bottom: 17px;
    padding-left: 16px;
    margin-top: 30px;
  }
}

.main-nav__item a {
  color: $white;
  opacity: 0.5;
  position: relative;

  @media (max-width: $tablet-width) {
    color: $dark-grey;
    opacity: 1;
  }

  &:hover,
  &:focus {
    color: $blue;
    opacity: 1;
  }

  &:active {
    opacity: 0.5;
  }

  &::after {
    display: none;

    @media (max-width: $tablet-width) {
      display: block;
      content: "";
      position: absolute;
      right: 0;
      top: 10px;
      height: 8px;
      width: 8px;
      background-color: transparent;
      border-bottom: 1px solid $grey;
      border-right: 1px solid $grey;
      transform: rotate(-45deg);
    }
  }
}

@media (max-width: $tablet-width) {
  .main-nav--closed .main-nav__wrapper {
    display: none;
  }
}

.main-nav--nojs .main-nav__wrapper {
  display: block;
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}
