.types {
  background-color: $light-bg;
  padding-left: 157px;
  padding-right: 157px;
  padding-top: 149px;
  padding-bottom: 154px;
  margin-top: 150px;

  @media (max-width: $tablet-width) {
    padding-left: 52px;
    padding-right: 52px;
    padding-top: 50px;
    padding-bottom: 75px;
    margin-top: 69px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 55px;
    margin-top: 81px;
  }
}

.types h2 {
  color: $black1;
  font-weight: 600;
  font-size: 30px;
  line-height: 32px;
  letter-spacing: -0.005em;
  text-align: center;
  padding: 0;
  margin: 0;

  @media (max-width: $tablet-width) {
    font-size: 24px;
    line-height: 41px;
  }
}

.types__list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  max-width: 1440px;
  padding: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;

  @media (max-width: $tablet-width) {
    display: flex;
    gap: 0;
    flex-direction: row;
    justify-content: space-between;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: -23px;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    align-items: center;
    margin-top: -13px;
  }
}

.types__item {
  text-align: center;
  position: relative;
  box-sizing: content-box;
  z-index: 5;

  @media (max-width: $tablet-width) {
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 53px;
  }

  @media (max-width: $mobile-width) {
    width: fit-content;
    padding-left: 6px;
    padding-right: 9px;
    margin-top: 44px;
  }
}

.types__item:nth-child(3n-2) {
  padding-top: 10px;

  &::before {
    position: absolute;
    content: "";
    width: 180px;
    height: 180px;
    background-color: transparent;
    border: 27px solid $blue;
    border-radius: 50%;
    box-sizing: border-box;
    left: -60px;
    top: 25%;
    z-index: -1;
  }

  @media (max-width: $tablet-width) {
    padding-top: 0;

    &::before {
      width: 127px;
      height: 127px;
      border-width: 18px;
      left: -12px;
      top: 200px;
    }
  }

  @media (max-width: $mobile-width) {
    &::before {
      left: -18px;
      top: 201px;
    }
  }
}

.types__item:nth-child(3n-1) {
  padding-top: 40px;

  &::before,
  &::after {
    position: absolute;
    content: "";
    width: 47px;
    height: 47px;
    background-color: transparent;
    border: 8px solid $blue;
    box-sizing: border-box;
  }

  &::before {
    top: 20px;
    left: -20px;
  }

  &::after {
    bottom: 32px;
    right: -22px;
  }

  @media (max-width: $tablet-width) {
    padding-top: 0;

    &::before,
    &::after {
      display: none;
    }
  }
}

.types__item:nth-child(3n) {
  &::before {
    position: absolute;
    content: "";
    width: 95px;
    height: 95px;
    background-color: transparent;
    border: 17px solid $blue;
    border-radius: 50%;
    box-sizing: border-box;
    right: -36px;
    top: -32px;
  }

  @media (max-width: $tablet-width) {
    &::before {
      width: 68px;
      height: 68px;
      border-width: 13px;
      right: 0;
      top: -20px;
    }
  }

  @media (max-width: $mobile-width) {
    &::before {
      right: -7px;
    }
  }
}

.types__item img {
  border-radius: 10px;

  @media (max-width: $tablet-width) {
    width: 270px;
    height: 300px;
  }
}

.types__img--roadbike {
  background-color: $dark-grey;
}

.types__img--mountainbike {
  background-color: $brown;
}

.types__img--childbike {
  background-color: $pink;
}

.types__item p {
  color: $black;
  font-weight: 600;
  font-size: 22px;
  text-align: center;
  letter-spacing: -0.5px;
  margin-bottom: 0;
  margin-top: 23px;

  @media (max-width: $tablet-width) {
    margin-top: 22px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 24px;
  }
}
