.video {
  color: $white;
  text-align: center;
  background-color: $dark-bg;
}

.video h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.005em;
  padding: 0;
  padding-top: 120px;
  margin: 0;

  @media (max-width: $tablet-width) {
    font-size: 24px;
    padding-top: 70px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 84px;
  }
}

.video p {
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.005em;
  width: 340px;
  opacity: 0.7;
  margin-top: 18px;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: $tablet-width) {
    width: 429px;
    margin-top: 20px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    box-sizing: border-box;
    padding-left: 13px;
    padding-right: 16px;
  }
}

.video__wrapper {
  position: relative;
  height: 465px;

  @media (max-width: $tablet-width) {
    height: 221px;
  }

  @media (max-width: $mobile-width) {
    height: 150px;
  }
}

.video__wrapper img {
  width: 929px;
  height: 522px;
  background-color: $black;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);

  @media (max-width: $tablet-width) {
    width: 503px;
    height: 282px;
    top: 24px;
  }

  @media (max-width: $mobile-width) {
    width: 288px;
    height: 162px;
    top: 37px;
  }
}

.video__wrapper button {
  position: absolute;
  content: "";
  width: 65px;
  height: 65px;
  background-color: $blue;
  border-radius: 50%;
  border-color: transparent;
  cursor: pointer;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;

  @media (max-width: $tablet-width) {
    width: 90px;
    height: 90px;
    top: 165px;
  }

  @media (max-width: $mobile-width) {
    width: 65px;
    height: 65px;
    top: 117px;
  }

  &::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 0 9px 12px;
    border-color: transparent transparent transparent $black2;
    top: 50%;
    left: 26.6px;
    transform: translateY(-50%);

    @media (max-width: $tablet-width) {
      border-width: 12px 0 12px 18px;
      left: 38px;
    }

    @media (max-width: $mobile-width) {
      border-width: 9.1px 0 9.1px 15.8px;
      left: 26px;
    }
  }

  &:hover,
  &:focus {
    opacity: 0.9;
  }

  &:active {
    opacity: 0.7;
  }
}
