$black: #000000;
$black1: #1f1f1f;
$black2: #070707;
$black3: #1c1c1c;
$white: #ffffff;
$light-bg: #f6f7f9;
$dark-bg: #131314;
$grey-bg: #f6f6f6;
$grey-border: #c9ccd4;
$blue: #0ad9c6;
$grey: #c4c4c4;
$grey1: #2c2e3f;
$dark-grey: #48494d;
$brown: #69330f;
$pink: #d4a9cf;
$grey-blue: #b1d0ee;
